body{
  background-color: rgb(158, 95, 18);
}

h1{
  height: 100px;
  width: 200px;
  background-color: aqua;
  text-align: center;
  padding: 20px 20px;
  padding-top: 50px;
  margin-left: 120px;
  font-size: 50px;
}

button{
  height: 70px;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 20px;
  font-size: 30px;
}